<h1>New Master Group</h1>

<.form for={@form} id="master-group-form" action={~p"/mastergroups"}>
  <.input field={@form[:master_group_name]} label="Master Group Name" />
  <.input field={@form[:login_id]} label="Login ID" />
  <.input field={@form[:password]} label="Password" type="password" />

  <.button>Save</.button>
</.form>

<a href={~p"/mastergroups"}>Back</a>
