<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= @page_title || "Adminsssss" %></title>
  <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />

<script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>

  <script>
    function toggleSidebar() {
      document.getElementById("sidebar").classList.toggle("-translate-x-full");
    }
  </script>
</head>

<body class="bg-gray-100 text-gray-800 flex">
  <!-- SIDEBAR -->
  <aside id="sidebar"
    class="fixed md:relative z-40 w-64 h-screen bg-white shadow-xl transform -translate-x-full md:translate-x-0 transition-all duration-300">
    <div class="p-5 font-semibold text-xl border-b">Admin Panel</div>
    <nav class="px-4 py-4 space-y-2">
      <a href="/dashboard" class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-200">
        <i class="fa-solid fa-chart-line"></i> Dashboard
      </a>
      <a href="/users" class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-200">
        <i class="fa-solid fa-users"></i> Users
      </a>
      <a href="/mastergroups" class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-200">
        <i class="fa-solid fa-gear"></i>Master Group 
      </a>
      <a href="/groups" class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-200">
        <i class="fa-solid fa-gear"></i>Group 
      </a>
         <a href="/markets" class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-200">
        <i class="fa-solid fa-gear"></i>Market 
      </a>
     
         <a href="/customers" class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-200">
        <i class="fa-solid fa-gear"></i>Customer
      </a>

         <a href="/bids" class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-200">
        <i class="fa-solid fa-gear"></i>Bid 
      </a>
      
         <a href="/results" class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-200">
        <i class="fa-solid fa-gear"></i>Result
      </a>

      <a href="/logout" class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-200">
        <i class="fa-solid fa-gear"></i> Logout
      </a>









    </nav>
  </aside>

  <!-- MAIN CONTENT -->
  <div class="flex-1 ml-0 md:ml-64 flex flex-col min-h-screen">
    <header class="sticky top-0 bg-white shadow flex items-center justify-between px-4 py-3">
      <button onclick="toggleSidebar()" class="md:hidden text-xl">☰</button>
    <h1 class="text-lg font-semibold"><%= assigns[:page_title] || "Dashboard" %></h1>

      <div class="flex items-center gap-3 text-gray-600">
        <%= if @current_admin, do: @current_admin.usertype, else: "Guest" %>
      </div>
    </header>

    <main class="p-6">
      <%= @inner_content %>
    </main>
  </div>
</body>
</html>
